.button {
    margin-left: 10px;
}

.link-details {
    float: left;
    margin: 10px;
}

.link-card {
  box-shadow: none!important;
  width: 30%;
  margin-bottom: 20px!important;
}

.details-heading {
  padding-bottom: 10px;
  border-bottom: 1px solid #949497;
}
