.error-container {
    background-color: #edb724;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;

    h1 {
        color: #e61212;
        margin:auto;
        vertical-align:middle;
    }
}