.button {
  margin-left: 10px; }

.link-details {
  float: left;
  margin: 10px; }

.link-card {
  box-shadow: none !important; }

.list-card {
  box-shadow: none !important; }

.sidebar-container {
  position: fixed;
  width: 300px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #ebebeb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 0.1px solid #9e9d9d; }

.sidebar-container a {
  color: #fff;
  font-size: 24px;
  font-weight: bold; }

.sidebar-logo {
  padding: 10px 15px 10px 30px;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  font-weight: bold; }

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative; }

.sidebar-navigation .header {
  font-size: 12px;
  text-transform: uppercase;
  background-color: #151515;
  padding: 10px 15px 10px 30px; }

.error-container {
  background-color: #edb724;
  height: 200px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px; }
  .error-container h1 {
    color: #e61212;
    margin: auto;
    vertical-align: middle; }

.container {
  width: 500 px !important; }

.background-container {
  background-color: #fafafa; }

html {
  background-color: #fafafa; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 2px; }

button {
  margin: 10px; }
